<mat-sidenav-container class="shell">
  <mat-sidenav
    #drawer
    mode="side"
    [opened]="sidenavOpened()"
    class="sidenav"
  >
    <mat-toolbar color="primary" class="brand">
      <mat-icon>layers</mat-icon>
      <span class="brand-text">
        <span class="brand-name">Disbatch</span>
        @if (database()) {
          <span class="brand-db">{{ database() }}</span>
        }
      </span>
    </mat-toolbar>
    <mat-nav-list>
      @for (link of links; track link.path) {
        <a mat-list-item [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive" [routerLinkActiveOptions]="link.exact ? { exact: true } : { exact: false }">
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="toggleSidenav()" matTooltip="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      @if (getRoutes().length) {
        <button mat-button [matMenuTriggerFor]="routesMenu">
          Routes <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #routesMenu="matMenu">
          @for (route of getRoutes(); track route) {
            <a mat-menu-item [href]="route">{{ route }}</a>
          }
        </mat-menu>
      }

      <span class="interval-label">Refresh:</span>
      <button mat-stroked-button [matMenuTriggerFor]="intervalMenu">
        {{ intervalSeconds() === 0 ? 'Off' : intervalSeconds() + 's' }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #intervalMenu="matMenu">
        @for (choice of intervalChoices; track choice) {
          <button mat-menu-item (click)="setInterval(choice)">
            {{ choice === 0 ? 'Off' : choice + 's' }}
          </button>
        }
      </mat-menu>

      <button mat-icon-button (click)="refresh()" matTooltip="Refresh now">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <div class="view">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
