<mat-sidenav-container class="shell">
  <mat-sidenav #drawer mode="side" opened class="sidenav" [class.collapsed]="!sidenavExpanded()" [style.width.px]="sidenavExpanded() ? 220 : 64">
    <mat-toolbar color="primary" class="brand">
      <mat-icon>layers</mat-icon>
      @if (sidenavExpanded()) {
        <span class="brand-name">Disbatch</span>
      }
    </mat-toolbar>
    <mat-nav-list>
      @for (link of links; track link.path) {
        <a
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          [routerLinkActiveOptions]="link.exact ? { exact: true } : { exact: false }"
          [matTooltip]="sidenavExpanded() ? '' : link.label"
          [matTooltipPosition]="'right'"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          @if (sidenavExpanded()) {
            <span matListItemTitle>{{ link.label }}</span>
          }
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content" [class.content-collapsed]="!sidenavExpanded()">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="toggleSidenav()" matTooltip="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="db-name">{{ database() }}</span>

      <span class="spacer"></span>

      @if (getRoutes().length) {
        <button mat-button [matMenuTriggerFor]="routesMenu">
          Routes <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #routesMenu="matMenu">
          @for (route of getRoutes(); track route) {
            <a mat-menu-item [href]="route">{{ route }}</a>
          }
        </mat-menu>
      }

      <span class="interval-label">Refresh:</span>
      <button mat-stroked-button [matMenuTriggerFor]="intervalMenu">
        {{ intervalSeconds() === 0 ? 'Off' : intervalSeconds() + 's' }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #intervalMenu="matMenu">
        @for (choice of intervalChoices; track choice) {
          <button mat-menu-item (click)="setInterval(choice)">
            {{ choice === 0 ? 'Off' : choice + 's' }}
          </button>
        }
      </mat-menu>

      <button mat-icon-button (click)="refresh()" matTooltip="Refresh now">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <div class="view">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
